#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 100px;
}

#navbar ul {
  list-style: none;
}

#logo {
  font-size: 2.5em;
  margin-left: 1em;
}

li a {
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  margin-right: 1.5em;
}

ul {
  display: flex;
}

ul li a {
  align-items: center;
}

nav ul .navProfile ul {
  display: none;
  background-color: #fff;
  padding: 1em;
  padding-top: 2em;
  /* background-color: #000; */
}

nav ul .navProfile ul a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.5em;
}

nav ul li a {
  font-size: 3em;
}

nav ul .navProfile ul a:hover {
  border-bottom: #000 solid 1px;
}

nav ul .navProfile:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 150px;
}

nav ul .navCart:hover ul {
  font-size: 0.5em;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1.5em;
  top: 4.1em;
  padding: 0.5em;
  background-color: white;
}

.currentCart {
  display: none;
  /* font-size: 0.5em;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1.5em;
  top: 4.1em;
  padding: 0.5em;
  background-color: white; */
}
nav ul .navCart:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
}

/* .currentCart {
  background-color: aqua;
  padding-top: 0.5em;
  padding-left: 0.5em;
} */

.productCartElement {
  display: flex;
  justify-content: space-between;
  width: 15em;
}

.productCartElement a:hover {
  text-decoration: underline;
}

.productCartElement a {
  font-size: 1em;
}
